@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  color: #404040;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  .wrap{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 50vw;
    background-color: #e7f7ff;
    padding: 20px;
border-radius: 10px;
  }
}
